///Breakpoints map

$breakpoints: (
  'small':  ( min-width:  30.000em ),
  'medium': ( min-width:  42.000em ),
  'large':  ( min-width: 62.000em ),
  'wide':  ( min-width: 75.000em )
) !default;	

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}

$font-stack: Helvetica, sans-serif;
/// Color map
$color: (
  main: white,
  secondary: #F0E68C,
  third: #c4bb6a,
) !default;


%flexcard {
  max-width: 98%;
  opacity: 0.8;
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  border-radius: 5px;
}



