.footer-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

  
@include respond-to('medium'){
  flex-flow: row nowrap;
}

.footer-item{
  display:flex;
  flex: 1 1 100%;
  background: map-get($color, 'third');
  justify-content: center;

  @include respond-to('medium'){
    flex: 1 1 33%;
  }
}