nav {
	display: none;
	background-color: rgba(0,0,0,0.2);
	color: map-get($color, 'main');
	flex-direction: column;


	ul {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		
		li {
			
			ul {
				display: none;
				flex-direction: column;

			}
		}
			
	}
}

#meme:hover > ul {
  display: flex;
}

#show li {
	min-width: 50px;
	background: fuchsia;
}

#test:active > #show{
	display: flex;
}

@include respond-to('medium') {
	nav {
		display: block;
		display: flex;
	    flex-direction: row;
		justify-content: center;

		
		ul {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			width: 100%;

			
			ul {
				position: absolute;
				z-index: 100000;
				background: rgba(0,0,0,0.8);				max-width: 20%;
				border-radius: 2px;
			}

		}
	}
}

li {
	padding: 10px;
}

#nav-toggle-toggle {
  display: none;
}
#nav-toggle-toggle:checked ~ #show {
	display: block;
}

@include respond-to('medium') {
	label {
    	display: none;
  	}
}


