/// Extended Flexcard
.flexCard {
	@extend %flexcard;
	background: map-get($color, 'secondary');

}

@include respond-to('medium') {

	.flexCard {
		max-width: 24%*2;
	}

	.flexCard:nth-child(1) {
		max-width: 98%;
	}
}

