

#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ .menu-wrapper{
		display: block;
}



label {
	margin-left: 10px;
	background: #372f2b;
}

@include respond-to('medium') {
	label {
    	display: none;
  	}
}