.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 80%;
	display: flex;
	flex-flow: column;
}

@include respond-to('medium') {
	.wrapper {
		flex-flow: row;
		flex-wrap: wrap;
	}
}
